

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}


.darker {
    width: 100%;
    background-color: aliceblue;
    float: right;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment {
    width: 100%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline;
}

#checkbx {
    background-color: black
}

.form-group input,
.form-group textarea {
    border: 1px solid white;
    border-radius: 12px;
    
}

form {
    border: 1px solid white;
    background-image: url('/img/bg/bottom-navbar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px
}